.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(45deg,skyblue,rgb(100, 100, 246),pink,rgb(115, 115, 250),skyblue);
}
.calculator{
  background-color: rgb(28, 3, 61);
  padding: 8px;
  border-radius: 8px;
  
    
}
.btn-style{
  border: 0;
  background-color: rgb(3,3,60);
  color: antiquewhite;
  border-radius: 5px;
  margin: 3px;  
  height: 50px;
  width: 50px;
  border: 1px solid rgb(20, 1, 42);
  box-shadow: rgba(228, 221, 221, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px inset, rgba(0, 0, 0, 0.09) 0px 4px 2px inset, rgba(0, 0, 0, 0.09) 0px 8px 4px inset, rgba(0, 0, 0, 0.09) 0px 16px 8px inset, rgba(0, 0, 0, 0.09) 0px 32px 16px inset;
}
.btn-style:hover{
background-color: rgb(92, 72, 166);

}
.equal{
  width: 105px;
}
